<div ng-controller="LinksController" id='container'>

  <input type='text' ng-model='search' placeholder='Search'>

  <div class='link' ng-repeat="link in data.links | filter:search | orderBy: '-visits'">
    <img src="assets/redirect_icon.png">
    <div class='info'>
    <div class='original'>{{link.url}}</div>
    <div class='title'>{{link.title}}</div>
    <div class='visits'>
      <span class='count'>{{link.visits}}</span>Visits
    </div>
    <a href='http://localhost:8000/api/links/{{ link.code }}'>{{ link.base_url }}/{{ link.code}}</a>
    </div>
  </div>
</div>
